<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css"></link>
    <title>Document</title>
</head>
<body>
    <h2>Update Product</h2>
    <form method="POST" action="/v1/products/<%= product.id %>?_method=patch">
        <div>
            <label for="name">Product Name</label>
            <input type="text" name="name" value="<%= product.name %>" placeholder="Enter Product Name"></input>
        </div>
        <div>
            <label for="desc">Description</label>
            <input type="text" name="desc" value="<%= product.desc %>" placeholder="Enter Product Description"></input>
        </div>
        <div>
            <label for="category">Select Category</label>
            <select name="category" id="">
                <option value="cosmetics" <%= product.category == "cosmetics" ? "selected" : "" %>>Cosmetics</option>
                <option value="apparels" <%= product.category == "apparels" ? "selected" : "" %>>Appparels</option>
                <option value="electronics" <%= product.category == "electronics" ? "selected" : "" %>>Electronics</option>
                
            </select>
            
        </div>
        <div>
            <label for="price">Enter Price</label>
            <input type="number" name="price" value="<%= product.price %>" placeholder="Enter Product Price(in INR)"></input>
        </div>
        <div>
            <label for="quantity">Quantity</label>
            <input type="text" name="quantity" value="<%= product.quantity %>" placeholder="Enter Product Quantity"></input>
        </div>
        <div>
            <label for="image">Upload Image</label>
            <input type="file" name="image" placeholder="Enter Product Quantity"></input>
        </div>
        <button type="submit">Update Product</button>
    </form>
</body>
</html>